.about{
    background-color: white;
}

.about h3 {
    color: blueviolet;
}

.about .box{
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}