
.product {
    background-color: aliceblue;
    border: 1px solid rgb(16, 188, 16);
    margin-bottom: 12px;
    border-radius: 8px;
    vertical-align:top;

    display: inline-block;
    width: 300px;
    height: 380px;
    border-bottom: 4px;
    margin: 0 7px 12px 0;
}
.product h4 {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium';
    margin: 0;
}

.product img{
    height: 50%;
    width: 280px;
    margin-top: 12px;
}