
.product {
    background-color: aliceblue;
    border: 1px solid green;
    margin-bottom: 12px;

    display: inline-block;
    width: 300px;
    height: 380px;
    border-bottom: 4px;
    margin: 0 7px 12px 0;
}
.product h4 {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium';
    margin: 0;
}