
.product {
    background-color: aliceblue;
    border: 1px solid rgb(83, 222, 81);
    margin-top: 1px;
    margin-bottom: 12px;
    border-radius: 12px;
    vertical-align:top;

    display: inline-block;
    width: 300px;
    height: 360px;
    margin: 0 7px 12px 0;
    padding: 0;
}
.product h6 {
    font-size: 22px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

.product img{
    height: 220px;
    width: 230px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.product .price{
    font-size: 18px;
}
.product .controls{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}